body {
    background: #c68a12;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    height: 80vh;
    width: 72vh;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 3px solid black;
}

.cell {
    position: relative;
}

.cell:not(.river) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* Cell fragments */
.cell-fragment {
    height: 100%;
    width: 100%;
}
.cell-fragment:nth-child(1) {
    border-right: 3px solid black;
}
.cell-fragment:nth-child(2) {
    border-bottom: 3px solid black;
}
.cell-fragment:nth-child(3) {
    border-top: 3px solid black;
}
.cell-fragment:nth-child(4) {
    border-left: 3px solid black;
}

/* Cells at edges of the board */
.cell:not(.river):nth-child(9n-8) > .cell-fragment:nth-child(3) {
    border: none;
}
.cell:not(.river):nth-child(9n) > .cell-fragment:nth-child(2) {
    border: none;
}
.cell:not(.river):nth-child(n+1):nth-child(-n+9) > .cell-fragment:nth-child(1) {
    border: none;
}
.cell:not(.river):nth-child(n+81):nth-child(-n+90) > .cell-fragment:nth-child(4) {
    border: none;
}

/* cells adjacent to river */
.cell:not(.river):nth-child(n+37):nth-child(-n+45) > .cell-fragment:nth-child(4) {
    border: none;
}
.cell:not(.river):nth-child(n+37):nth-child(-n+45) > .cell-fragment:nth-child(n+3):nth-child(-n+4) {
    background: blue;
    z-index: -99;
}
.cell:not(.river):nth-child(n+46):nth-child(-n+54) > .cell-fragment:nth-child(n+1):nth-child(-n+2) {
    background: blue;
}

/* Castle */
.cell:not(.river):nth-child(3) > .cell-fragment:nth-child(2),
.cell:not(.river):nth-child(12) > .cell-fragment:nth-child(2),
.cell:not(.river):nth-child(21) > .cell-fragment:nth-child(2) {
    border-right: 3px solid green;
}
.cell:not(.river):nth-child(4) > .cell-fragment:nth-child(3),
.cell:not(.river):nth-child(13) > .cell-fragment:nth-child(3),
.cell:not(.river):nth-child(22) > .cell-fragment:nth-child(3) {
    border-left: 3px solid green;
}

.piece {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    height: 40%;
    width: 40%;
    background: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
}